@charset "utf-8";
/* CSS Document */

body {
    background-color: #013328;
    animation: everything 10s infinite;
    animation-iteration-count: 1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes everything {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

/* Navbar Styling */
.navbar {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navitems {
    margin-left: 4%;
    margin-right: 4%;
}

.navitems li {
    margin: 0 15px;
    list-style: none;
}

.navitems a {
    color: #FBAF94;
    text-decoration: none;
    padding: 8px 16px;
}

a {
    text-decoration: none;
    color: #FBAF94;
    text-transform: uppercase;
}

a:hover {
    background: #E3DCD2;
    color: #013328;
    padding: 8px;
    border-radius: 5px;
}

/* Hamburger icon styling for mobile */
.hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #FBAF94;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

/* Gallery Styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.gallery-item {
    flex: 1 0 300px;
    margin: 10px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.caption {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    color: #013328;
    background: #E3DCD2;
    padding: 8px;
    border-radius: 10px;
}

/* Text Styling */
p {
    color: #FBAF94;
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
    letter-spacing: 5px;
    line-height: 0.25;
}

/* Media Query for Responsive Design */
@media (max-width: 980px) {
    p {
        font-size: 60px;
        padding-top: 10%;
    }
    .navbar {
        flex-direction: column; /* Ensure flex direction changes for small screens */
    }
}
